body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: black;
  font-family: "Helvetica Neue", Arial, sans-serif;
  text-align: center;
}

.clock-container {
  font-family: 'Orbitron', sans-serif;
  text-shadow: 0 0 10px rgb(255, 0, 0), 0 0 10px rgb(255, 255, 255);
  color: gold;
  /* almost cyan colored*/
  font-size: 60px;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

#date {
  font-size: 3rem;
  color: red;
  margin-bottom: 5px;
}

#lunar {
  font-size: 2rem;
  color: #ccc;
  margin-bottom: 15px;
}

#clock {
  font-size: 10vw;
  /* responsive size */
  font-weight: 300;
  letter-spacing: 0.05em;
}